/* ### CSS VARIABLES ### */

:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);

  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%;);

  --white: hsl(0, 0%, 100%);

  --ff-outfit: "Outfit", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}

/* ### CSS RESET ###  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ### UTILITIES ### */

.text-white {
  color: var(--white);
}

.text-cyan {
  color: var(--cyan-400);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

/* ### STYLING ### */

body {
  font-family: var(--ff-outfit);
  font-size: 1.125rem;
  color: var(--blue-500);
}

/* .nft-card__img {
  align-self: center;
} */
