/* ### CSS VARIABLES ### */

:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);
  --cyan-100: hsla(178, 100%, 50%, 0.35);

  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%);

  --white: hsl(0, 0%, 100%);

  --ff-outfit: "Outfit", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}

/* ### CSS RESET ###  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ### UTILITIES ### */

.text-white {
  color: var(--white);
}

.text-cyan {
  color: var(--cyan-400);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

/* ### STYLING ### */

body {
  font-family: var(--ff-outfit);
  font-size: 1.125rem;
  color: var(--blue-500);
  background-color: var(--blue-950);
  font-weight: var(--fw-300);
}

main {
  padding: 5em 0.9em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ### NFT CARD COMPONENT ### */

.nft-card {
  --gap: 1em;
  background-color: var(--blue-900);
  padding: 1.5em;
  border-radius: 1rem;
  max-width: 380px;
}

.nft-card__title {
  font-size: 1.5rem;
  font-weight: var(--fw-600);
}

.nft-card__title:hover {
  color: var(--cyan-400);
  cursor: pointer;
}

.nft-card__description {
  line-height: 1.6;
}

.nft-card__img {
  border-radius: 0.6rem;
  overflow: hidden;
  order: -1;
  position: relative;
  z-index: 1;
}

.nft-card__img:hover::before {
  content: url(./images/icon-view.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cyan-100);

  /* filter: opacity(0.3); */
  z-index: 2;
  cursor: pointer;
}

/* ## NFT VALUE AND DATE ## */

.nft-card__value-and-date {
  display: flex;
  justify-content: space-between;
}

.nft-value {
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.nft-date {
  font-weight: var(--fw-400);
  display: flex;
  align-items: center;
  gap: 0.4em;
}

/* ## NFT FOOTER ## */

.nft-card footer {
  border-top: 1px solid var(--blue-800);
  padding-top: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.nft-card footer img {
  width: 38px;
  border: 1px solid var(--white);
  border-radius: 100%;
}

.nft-creator__name {
  font-weight: var(--fw-400);
}

.nft-creator__name:hover {
  color: var(--cyan-400);
  cursor: pointer;
}
